{% extends "layout/base.html" %}

{% block content %}

<div class="row">
    <div class="col s12 m10 offset-m1">
      <div class="card teal darken-2">
        <div class="card-content white-text">
          <span class="card-title">{{ article.titre }}</span>
          <p>{{ article.description }}.</p>
        </div>
        <div class="card-action">
          <div class="row">
            <div class="col s8 m8">
              <span>{{ article.date_pub }}</span>
              <span>{{ article.auteur }}</span>
            </div>
            <div class="col s4 m2">
              <a href="{% url 'articles:index' %}">Rétour</a>
  
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  
{% endblock content %}