<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Liste</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Age</th>
                <th>Adresse</th>
            </tr>
        </thead>
        <tbody>
            {% for client in clients %}
              <tr>
                  <td>{{client.nom}}</td>
                  <td>{{client.prenom}}</td>
                  <td>{{client.age}}</td>
                  <td>{{client.adresse}}</td>
              </tr>
            {% endfor %}
        </tbody>
    </table>


</body>
</html>